@model IEnumerable<MvcApplication1.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                            <div class="row">
                                <div class="col-md-1">
                                    <label>Search</label>
                                </div>
                                @using(Html.BeginForm("Find", "Doctor", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true) 
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Keyword" placeholder="Keyword" >
                                    </div>
                                </div>
                                <div class="col-md-1">  
                                    <button type="submit" class="btn btn-md btn-info btn-fill"><i class="pe-7s-search"></i></button>
                                </div>
                                }
                            </div>
                            </div>
                    </div>
                </div>
            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Registered doctors</h4>
                                            <p class="category">Here is a list of all your doctors registered before</p>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="@Url.Action("Create","Doctor")" class="btn btn-sm btn-info btn-fill pull-right">New</a>
                                        </div>
                                        <div class="content table-responsive table-full-width">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <th>Name</th>
                                                <th>Last Name</th>
                                                <th>Middle Initial</th>
                                                <th>Clinic Name</th>
                                                <th>DEA</th>
                                                <th>NAGP</th>
                                                <th>NPI</th>
                                                <th>Office phone</th>
                                                <th>Fax</th>
                                                <th>Email</th>
                                                <th>Is active</th>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Last_name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Middle_initial)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Clinic_name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DEA)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NAGP)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NPI)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Office_phone)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Fax)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Active)
                                                            </td>
                                                            <td>
                                                                <a href="@Url.Action("Edit","Doctor", new {id=item.Id})" class="btn btn-sm btn-info btn-fill"><i class="pe-7s-settings"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
